body {
  height: 4000px;
}
.container {
  padding-left: 0px;
  padding-right: 0px;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("Assets\Images\portfolioPicture.jpg");
  height: 700px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  display: block;
  text-align: left;
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-wrapper {
  width: 100%;
}

.skills-container {
  background-color: #dbc596;
  height: 200px;
}

.row {
  margin: 0px;
}

.skill-bar-container {
  float: left;
}

.progress {
  align-content: center;
  margin-top: 4px;
}

.title {
  padding-top: 20px;
  display: block;
  text-align: center;
}

.row-cols-3 {
  display: block;
  width: 100%;
  margin-top: 40px;
}

.experience-header {
  clear: both;
  height: 100px;
  background-color: #ffffff;
  display: block;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 80px;
  margin-top: 30px;
}

.job-title {
  font-size: 25px;
  margin-bottom: 5px;
}

.jobs-row {
  margin-bottom: 150px;
}

.portfolio-header {
  clear: both;
  height: 120px;
  background-color: #5f5d5d;
  display: block;
  text-align: center;
  padding-top: 35px;
  margin-top: 30px;
  color: #ffffff;
}
